
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

.yeay{
    color:pink;
    font-family: fantasy;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
}

.left{
    background-color: cornflowerblue;
}
h1{
    color:aqua;
    text-align: center;
    background-color: cornsilk;
    font-weight: 700;
}

body{
    padding: 10px 20px 15px 20px;
    background-color: cornsilk;
    margin-bottom: 20px;
}
